[submodule "extern/tgbot-cpp"]
	path = extern/tgbot-cpp
	url = https://github.com/Batmvninarkham/tgbot-cpp.git
[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
